.navbar{
  border-radius: 0;
  font-family: "Shift";
  margin-bottom: 0;
  padding-top: 4px;
  padding-left: 4px;
  
}
#wrapper .container{
	position: relative;
	top: 100px;
}

#b2{
	margin-top: 10px;
}

.Header #b{
	margin-left:30%;
}